<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON628-01 
### Wisinski_Project_02-  With Guidelines

---
### The project
---
This is a project to show your understanding and skills to:

- Extract (unstructured) secondary datasets from sources such as:
    - [Public Datasets][1]
    - [Data World][2] 
    - And More
[1]: https://github.com/caesar0301/awesome-public-datasets "Public Datasets"
[2]: https://data.world/ "Data World"

- Combine multiple datasets that are relevant to your hypothesis.
- Clearly defined problem statement/goal/hypothesis.
- Perform an EDA relevant to your problem statement.
- Implement Machine Learning models to answer you hypothesis. 
- Explanation of all metrics and charts.
- Provide a technical and non technical conclusion from your findings.
- Treat this project as your first case study assignment at the place where you envision yourself working after graduation
    - The best way to pick a topic => search for openings/projects at the organizations where you want to work (i.e. IPA)
    - See if you can get a dataset that they are using/have used in previous projects and try to replicate their work
    - Or you can get a dataset from other country and see if you can replicate their approach (i.e. [Violence in Medellin Colombia][3]) 
[3]: http://www.poverty-action.org/job/research-analyst-crime-violence-reduction "Violence in Medellin Colombia"


---
### The Macro Picture Guidelines
---
- Clearly defined problem statement/goal/hypothesis.
- EDA relevant to your problem statement.
    - Describe your data, including the source(s).
    - Describe relevant data cleaning and munging.
- Record any quality assessment and assumptions that you are making based on the EDA.
- Well-documented code of the modeling you performed to answer your question.
- Clear description of model selection.
    * This should address why you have selected the model or models to answer your question and why the choice is appropriate.
- Description of results.
    * Includes relevant code, metrics, and visualizations that describe your results.
- Explanation Technically and non-technically of all metrics and charts.
- Conclusion/Summarize your findings, addressing the strengths and weaknesses of your approach.
- Recommendations and future directions.

---
### What you need to push/turn in and deadlines
---

&nbsp;

- **Monday April 3** => Links to your datasets, use this [form][4] to submit your links 
    - No emails, slack messages => you need to use the form
[4]: https://docs.google.com/forms/d/e/1FAIpQLSewogWOmrRcC6zGWnm0gZA6DAjoWVLTvcAXfbKJR0x-QLm54g/viewform "form"

&nbsp;

- **April 10** => EDA notebooks, use this [form][5] to submit your links
    - No emails, slack messages => you need to use the form
[5]: https://docs.google.com/forms/d/e/1FAIpQLScLa5EL89EWeqHxE73WHznADOcQyCWt8w0Ms2YqB4iiMwtyiA/viewform "form"


&nbsp;

- **April 17** => EDA notebooks and Modeling notebooks, use this [form][6] to submit your links 
    - No emails, slack messages => you need to use the form
[6]: https://docs.google.com/forms/d/e/1FAIpQLScbe0McdgVCcWjbkqyPJzh4vWGSB0Hd7jZaWVKusLg0KAfFLg/viewform "form"


&nbsp;


- **April 24** => **Final documents** are due on **April 24** (the date could change)
    - No emails, slack messages => you need to use the form
    - **Final documents** = EDA notebooks with code only 
    - **Final documents** = Models notebooks with code only 
    - **Final documents** = One short technical and One short non-techincal (blog post type) reports of your findings

In [1]:
# data modules
import numpy as np
import scipy.stats as stats
import pandas as pd

# plotting modules
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

# Stats/Regresions Packages
from sklearn import linear_model
from sklearn.metrics import mean_squared_error

# make sure charts appear in the notebook:
%matplotlib inline
%config InlineBackend.figure_format ='retina'

In [19]:

path_to_file = '/Users/Theodore/Desktop/ECON628-01twisinski5026/datasets/project2/cepiipartnerid.csv'
cepipid = pd.read_csv(path_to_file)

C:\Users\Theodore\Anaconda2\envs\econ\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:

path_to_file = '/Users/Theodore/Desktop/ECON628-01twisinski5026/datasets/project2/importsexportspartnerid.csv'
tradepid = pd.read_csv(path_to_file)

In [22]:

path_to_file = '/Users/Theodore/Desktop/ECON628-01twisinski5026/datasets/project2/theilliso.csv'
thiso = pd.read_csv(path_to_file)

In [23]:

path_to_file = '/Users/Theodore/Desktop/ECON628-01twisinski5026/datasets/project2/schol_o.csv'
schoolo = pd.read_csv(path_to_file)

In [24]:

path_to_file = '/Users/Theodore/Desktop/ECON628-01twisinski5026/datasets/project2/schol_d.csv'
schoold = pd.read_csv(path_to_file)

Data Dictionary of CEPII data

iso3_o	      ISO3 alphanumeric 3 letter country code origin of trade
iso3_d	      ISO3 alphanumeric 3 letter country code destination of trade
year	      Year
contig	      1 for contiguity
comlang_off	  1 for common official of primary language
comlang_ethno 1 if a language is spoken by at least 9% of the population in both countries
comcol	      1 for common colonizer post 1945
col45	      1 for pairs in colonial relationship post 1945
distw	      weighted distance (pop-wt, km)
pop_o	      Population, total in mn
gdp_o	      GDP (current mn US$)
gdpcap_o	  GDP per cap (current in US$)
iso2_o	      ISO2 alphanumeric
area_o	      Area in sq. kms
pop_d	      Population, total in mn
gdp_d	      GDP (current mn US$)
gdpcap_d	  GDP per cap (current in US$)
iso2_d	      ISO2 alphanumeric
area_d	      Area in sq. kms
tdiff	      nb of hours difference between ex and im
heg_d	      destination is current or former hegemon of origin
conflict	  1 if war
indepdate	  Independence date if colony == 1
heg_o	      origin is current or former hegemon of destination
col_to	      1 for trade from heg_o to colony
col_fr	      1 for trade from colony to heg_d
colony	      1 for pair ever in colonial relationship
curcol	      1 for pair currently in colonial relationship
empire	      empire to which both countries belong to
gatt_o	      1 if origin is GATT/WTO member
gatt_d	      1 if destination is GATT/WTO member
rta	          1 for regional trade agreement in force
leg_o	      legal origin of exporter
leg_d	      legal origin of importer
comleg	      common legal origin
comcur	      Common Currency
acp_to_eu	  1 for ACP to EU
eu_to_acp	  1 for EU to ACP
Country	      Country
TH	          Theill wage index of pay to skilled vs unskilled workers in manufacturing sector

Data Dictionary for trade data

exports2d  value of exports in thousands to destination country
imports2o  value of imports to origin country
impexp     total value of trade
partnerid  unique identifier for bilateral trade data

Data Dictionary for schooling data

SCH' '  Average level of educational attainment for destination or origin country at " " year (5 year intervals availability)

In [25]:

cepipid.describe().T

,count,mean,std,min,25%,50%,75%,max
year,2257920.0,1984.000000,1.298718e+01,1962.000000,1973.00000,1984.000000,1995.000000,2.006000e+03
contig,2257920.0,0.012277,1.101184e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
comlang_off,2257920.0,0.174386,3.794413e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
comlang_ethno,2257920.0,0.169165,3.748973e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
comcol,2257920.0,0.117307,3.217859e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
col45,2257920.0,0.006218,7.860948e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
distw,2257920.0,8484.354990,4.694321e+03,0.995137,4765.49975,8095.464147,11993.445567,1.988866e+04
pop_o,1949024.0,24.722602,9.727082e+01,0.016000,NaN,NaN,NaN,1.311798e+03
gdp_o,1672608.0,102764.408409,5.512459e+05,12.541635,NaN,NaN,NaN,1.320182e+07
gdpcap_o,1665216.0,4101.438239,7.557484e+03,6.813283,NaN,NaN,NaN,8.956363e+04
area_o,2257920.0,608248.419643,1.794622e+06,7.000000,6133.25000,91431.000000,448041.000000,1.707540e+07
pop_d,1949024.0,24.722602,9.727082e+01,0.016000,NaN,NaN,NaN,1.311798e+03
gdp_d,1672608.0,102764.408409,5.512459e+05,12.541635,NaN,NaN,NaN,1.320182e+07
gdpcap_d,1665216.0,4101.438239,7.557484e+03,6.813283,NaN,NaN,NaN,8.956363e+04
area_d,2257920.0,608248.419643,1.794622e+06,7.000000,6133.25000,91431.000000,448041.000000,1.707540e+07
tdiff,2257920.0,5.018841,3.497278e+00,0.000000,2.00000,5.000000,8.000000,1.200000e+01
heg_d,2257920.0,0.005042,7.082958e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
conflict,19800.0,0.300000,4.582691e-01,0.000000,NaN,NaN,NaN,1.000000e+00
indepdate,19800.0,1931.236364,5.699975e+01,1710.000000,NaN,NaN,NaN,2.002000e+03
heg_o,2257920.0,0.005042,7.082958e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
col_to,2257920.0,0.005042,7.082958e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
col_fr,2257920.0,0.005042,7.082958e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
colony,2257920.0,0.010085,9.991401e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
curcol,2257920.0,0.002498,4.991629e-02,0.000000,0.00000,0.000000,0.000000,1.000000e+00
gatt_o,2257920.0,0.441270,4.965389e-01,0.000000,0.00000,0.000000,1.000000,1.000000e+00
gatt_d,2257920.0,0.441270,4.965389e-01,0.000000,0.00000,0.000000,1.000000,1.000000e+00
rta,2247840.0,0.016044,1.256441e-01,0.000000,NaN,NaN,NaN,1.000000e+00
comleg,2238075.0,0.277290,4.476608e-01,0.000000,NaN,NaN,NaN,1.000000e+00
comcur,2257920.0,0.015551,1.237287e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
acp_to_eu,2257920.0,0.013142,1.138836e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
eu_to_acp,2257920.0,0.013142,1.138836e-01,0.000000,0.00000,0.000000,0.000000,1.000000e+00
partnerid,2257920.0,25088.500000,1.448457e+04,1.000000,12544.75000,25088.500000,37632.250000,5.017600e+04

In [26]:
tradepid.describe().T

,count,mean,std,min,25%,50%,75%,max
year,461370.0,1981.000000,1.125464e+01,1962.0,1971.0,1981.0,1991.0,2000.0
exports2d,227902.0,98501.596625,8.350381e+05,1.0,NaN,NaN,NaN,55098362.0
imports2o,227902.0,98501.596625,8.350381e+05,1.0,NaN,NaN,NaN,55098362.0
impexp,189266.0,235454.832194,1.777620e+06,2.0,NaN,NaN,NaN,96604128.0
partnerid,461370.0,5915.500000,3.415031e+03,1.0,2958.0,5915.5,8873.0,11830.0

In [27]:
#Cepii dataset is much larger than the trade dataset and much of the Cepii observations will become 
#extraneous once merged with the trade data

cepipid.isnull().sum()

Country1               0
Country2               0
iso3_o                 0
iso3_d                 0
year                   0
contig                 0
comlang_off            0
comlang_ethno          0
comcol                 0
col45                  0
distw                  0
pop_o             308896
gdp_o             585312
gdpcap_o          592704
iso2_o             10080
area_o                 0
pop_d             308896
gdp_d             585312
gdpcap_d          592704
iso2_d             10080
area_d                 0
tdiff                  0
heg_d                  0
conflict         2238120
indepdate        2238120
heg_o                  0
col_to                 0
col_fr                 0
colony                 0
curcol                 0
empire           1821330
gatt_o                 0
gatt_d                 0
rta                10080
leg_o             211680
leg_d             211680
comleg             19845
comcur                 0
acp_to_eu              0
eu_to_acp              0
partnerid              0
dtype: int64

In [14]:
tradepid.isnull().sum()

iso3_o            0
iso3_d            0
year              0
exports2d    233468
imports2o    233468
impexp       272104
partnerid         0
dtype: int64

In [15]:
tradepid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 461370 entries, 0 to 461369
Data columns (total 7 columns):
iso3_o       461370 non-null object
iso3_d       461370 non-null object
year         461370 non-null int16
exports2d    227902 non-null float64
imports2o    227902 non-null float64
impexp       189266 non-null float32
partnerid    461370 non-null float32
dtypes: float32(2), float64(2), int16(1), object(2)
memory usage: 22.0+ MB

In [13]:
cepipid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2257920 entries, 0 to 2257919
Data columns (total 41 columns):
Country1         category
Country2         category
iso3_o           object
iso3_d           object
year             int16
contig           int8
comlang_off      int8
comlang_ethno    int8
comcol           int8
col45            int8
distw            float64
pop_o            float32
gdp_o            float32
gdpcap_o         float32
iso2_o           object
area_o           int32
pop_d            float32
gdp_d            float32
gdpcap_d         float32
iso2_d           object
area_d           int32
tdiff            float32
heg_d            int8
conflict         float64
indepdate        float64
heg_o            int8
col_to           int8
col_fr           int8
colony           int8
curcol           int8
empire           object
gatt_o           int8
gatt_d           int8
rta              float64
leg_o            object
leg_d            object
comleg           float64
comcur           int8
acp_to_eu        int8
eu_to_acp        int8
partnerid        float32
dtypes: category(2), float32(8), float64(5), int16(1), int32(2), int8(16), object(7)
memory usage: 357.5+ MB

In [31]:
# Citing Stack Overflow: CSV VIA SQL

# As a database guy, I always recommend handling large data loads and merging/joining with a SQL relational engine 
# that scales well for such processes. I have written many a comment on dataframe merge Q/As to this effect
# -even in R. You can use any SQL database including file server dbs (Access, SQLite) or client server dbs 
# (MySQL, MSSQL, or other), even where your dfs derive. Python maintains a built-in library for
# SQLite (otherwise you use ODBC); and dataframes can be pushed into databases as tables using pandas to_sql:

#For these reasons I believe I may be running into this memory error when trying to merge these datasets.  Because
#of this factor, I will be merging these datasets in SQL or in STATA to avoid this issue, despite knowing how to 
#do it in Python.

tradecepii = cepipid.merge(tradepid, on=['partnerid'], how='outer')

MemoryError: