<img src="https://images.efollett.com/htmlroot/images/templates/storeLogos/CA/864.gif" style="float: right;"> 




# ECON628-01 
### Lecture 2 -  2.3 - Brief revision on Python data types 
#### _Note: we are not going to spend much time in this topic => as this was part of your [codeacademy] [1] training_


[1]: https://www.codecademy.com/learn/python    "codeacademy"

# Introduction to Data Types

In [1]:
print type(1) # int 

print type(1.0) #float 

print type("I love python") # string

<type 'int'>
<type 'float'>
<type 'str'>

## Tuples

In [2]:
x_tupe_1 = ("UBER", "Google", "Worl Bank")
x_tupe_2 = ("Driver", "Engineer", "Economist")
print type(x_tupe_1), type(x_tupe_2), len(x_tupe_1)

<type 'tuple'> <type 'tuple'> 3

In [3]:
# Tuple with empty value
tup = ()
tup

()

In [4]:
## tuple with one value => add comma after the first elment
tup_1 = ("MAN_U", )
print tup_1

('MAN_U',)

In [5]:
## Accesing values in a tuple
x_tupe_1[0] #prints the first element of the tuple

x_tupe_2[1:len(x_tupe_2)]

('Engineer', 'Economist')

In [6]:
## Tuples are immutables => you can't update of change the values of a tuple
## you can add them
new_tuple = x_tupe_1 + x_tupe_2
print new_tuple, len(new_tuple)

('UBER', 'Google', 'Worl Bank', 'Driver', 'Engineer', 'Economist') 6

In [7]:
## You cann't delete and element of a tuple, but you can delete a tuple
# del new_tuple
# print new_tuple

In [8]:
## Tuple operations
"""Length"""
print "The lentgth of x_tupe_1 is %s" % (len(x_tupe_1))
print "==========\n"

""" Concatenation"""
new_tuple = x_tupe_1 + x_tupe_2
print "You can add x_tupe_1 and x_tupe_2 to get this result", new_tuple
print "==========\n"

""" Repetition"""
print (tup_1*5)
print "==========\n"

""" Membership => look this is case sensitive!!!"""
print "Uber" in (x_tupe_1)
print "UBER" in (x_tupe_1)
print "==========\n"

""" Iteration"""
for i in x_tupe_2:
    print "The elements of the x_tupe_2 are" ,i
print "==========\n"  
    
""" Build in Tuple Functions"""
""" returnning item from the tuple with max and min value"""
print max(x_tupe_1)
print min(x_tupe_1)
print "==========\n"

""" Build in Tuple Functions"""
""" converting a list into a tuple"""
x_list = ["Trulia", "Doordash", "Spotify"]
print type(x_list)
print tuple(x_list)

The lentgth of x_tupe_1 is 3
==========

You can add x_tupe_1 and x_tupe_2 to get this result ('UBER', 'Google', 'Worl Bank', 'Driver', 'Engineer', 'Economist')
==========

('MAN_U', 'MAN_U', 'MAN_U', 'MAN_U', 'MAN_U')
==========

False
True
==========

The elements of the x_tupe_2 are Driver
The elements of the x_tupe_2 are Engineer
The elements of the x_tupe_2 are Economist
==========

Worl Bank
Google
==========

<type 'list'>
('Trulia', 'Doordash', 'Spotify')

## Lists

In [9]:
x_list = ["Trulia", "Doordash", "Spotify", 1987, "988", 345]
print type(x_list), len(x_list)

<type 'list'> 6

In [10]:
## Accessing values from a list
print x_list[0]
print x_list[0:-1]
print x_list[-1]

Trulia
['Trulia', 'Doordash', 'Spotify', 1987, '988']
345

In [11]:
## Updating a list
print "The item in index 2 is:", x_list[2]
print "=========="
"""We are going to replace the item in index 2"""
x_list[2] = "Pandora"
print x_list
print "=========="
print "The new item in index 2 is:", x_list[2]

The item in index 2 is: Spotify
==========
['Trulia', 'Doordash', 'Pandora', 1987, '988', 345]
==========
The new item in index 2 is: Pandora

In [12]:
## Deleting items from a list
"""We are going to delete the item in index 4"""
print len(x_list)
print x_list
print "=========="

del x_list[4]
print len(x_list)
print x_list

6
['Trulia', 'Doordash', 'Pandora', 1987, '988', 345]
==========
5
['Trulia', 'Doordash', 'Pandora', 1987, 345]

In [13]:
#### List Functions ###
"""Length"""
print "The lentgth of x_list is %s" % (len(x_list))
print "==========\n"

""" Concatenation"""
new_list = x_list + ["ECON628", "30", "IDEC", 90, '2017']
print "You can add x_list and another list to get this result", new_list
print "==========\n"

""" Repetition"""
print (x_list*5)
print "==========\n"

""" Membership => look this is case sensitive!!!"""
print "Pandora" in (x_list)
print "UBER" in (x_list)
print "==========\n"

""" Iteration"""
for i in x_list:
    print "The elements of the x_list are" ,i
print "==========\n"  
    
""" Build in Tuple Functions"""
""" returnning item from the tuple with max and min value"""

numeric_list  = [3,5,7,60]
string_list = ['Car', 'Nothing' 'Winner']
print max(numeric_list), max(string_list)
print min(numeric_list), min(string_list)
print "==========\n"

""" Build in Tuple Functions"""
""" converting a tuple into a list"""

print type(x_tupe_2)
print list (x_list)

The lentgth of x_list is 5
==========

You can add x_list and another list to get this result ['Trulia', 'Doordash', 'Pandora', 1987, 345, 'ECON628', '30', 'IDEC', 90, '2017']
==========

['Trulia', 'Doordash', 'Pandora', 1987, 345, 'Trulia', 'Doordash', 'Pandora', 1987, 345, 'Trulia', 'Doordash', 'Pandora', 1987, 345, 'Trulia', 'Doordash', 'Pandora', 1987, 345, 'Trulia', 'Doordash', 'Pandora', 1987, 345]
==========

True
False
==========

The elements of the x_list are Trulia
The elements of the x_list are Doordash
The elements of the x_list are Pandora
The elements of the x_list are 1987
The elements of the x_list are 345
==========

60 NothingWinner
3 Car
==========

<type 'tuple'>
['Trulia', 'Doordash', 'Pandora', 1987, 345]

In [14]:
#### List Methods ###
'''list.append(i) => appends an element to a list'''
print "The original numeric list is:" , numeric_list
print "==========\n"
numeric_list.append(8)
numeric_list.append(8)
print "The update numeric list is:" , numeric_list

'''list.count(i) => Returns count of how many times i occurs in list'''
numeric_list.count(8)
print "==========\n"

'''list.extend(i) Appends the contents of i to list'''
print numeric_list
new_numeri_list =  [99, 8988, 7675, 9.90]
numeric_list.extend(new_numeri_list)
print numeric_list
print "==========\n"

'''list.index(i) Returns the lowest index in list that i appears'''
numeric_list.index(99)
print "==========\n"

'''list.insert(index, i) The method insert(), inserts object i into list at offset index'''
numeric_list.index(99)
numeric_list.insert(4, "new99")
print numeric_list
print "==========\n"

'''list.pop(i=list[-1]) The method pop() removes and returns last object or obj from the list, where i is an optional
parameter, note i in here refers to the index'''
new_list = ['2', 9, 8, "Santiago"]
new_list.pop(-1)
print new_list
print "==========\n"


'''list.remove(i) Removes object obj from list'''
new_list.remove(9)
print new_list
print "==========\n"

''' list.reverse()=> reverse objects from a list'''
list_new = [8.90, 'llkk', 90,  101.90, "Olaf" ]
list_new.reverse()
print list_new
print "==========\n"


''' list.sort() The method sort() sorts items of list, use compare func if given.'''
list_new.sort()
print list_new

The original numeric list is: [3, 5, 7, 60]
==========

The update numeric list is: [3, 5, 7, 60, 8, 8]
==========

[3, 5, 7, 60, 8, 8]
[3, 5, 7, 60, 8, 8, 99, 8988, 7675, 9.9]
==========

==========

[3, 5, 7, 60, 'new99', 8, 8, 99, 8988, 7675, 9.9]
==========

['2', 9, 8]
==========

['2', 8]
==========

['Olaf', 101.9, 90, 'llkk', 8.9]
==========

[8.9, 90, 101.9, 'Olaf', 'llkk']

## Dictionaries

In [15]:
my_dictionary =  {'First_name': "Felipe",
                  'Last_name': "McKlaren",
                  'Student_id': 90 }
my_dictionary

{'First_name': 'Felipe', 'Last_name': 'McKlaren', 'Student_id': 90}

In [16]:
## Getting the dictionary keys
my_dictionary.keys()

['Student_id', 'First_name', 'Last_name']

In [17]:
## Getting the dictionary values
my_dictionary.values()

[90, 'Felipe', 'McKlaren']

In [18]:
## Access values => via keys
print my_dictionary['First_name']
print my_dictionary['Last_name']
print my_dictionary['Student_id']

Felipe
McKlaren
90

In [19]:
## Updating a dictionary
'''You can update an existing value'''
my_dictionary['Student_id'] = 87
print my_dictionary.values()
print "===========\n"

'''You can add a new entry'''
my_dictionary['Grad_program'] = "Economics"
print my_dictionary
print "===========\n"
print my_dictionary.keys()
print "===========\n"

'''You can delete dictionary elements'''
## remove entry using the key
del my_dictionary['Grad_program']
print my_dictionary.keys()
print "===========\n"

## removing all entries from a dictionary
# my_dictionary.clear()

'''Dictionary Keys can only be String, dictionary can be srtrings, lists, values etc'''

[87, 'Felipe', 'McKlaren']
===========

{'Student_id': 87, 'First_name': 'Felipe', 'Last_name': 'McKlaren', 'Grad_program': 'Economics'}
===========

['Student_id', 'First_name', 'Last_name', 'Grad_program']
===========

['Student_id', 'First_name', 'Last_name']
===========

'Dictionary Keys can only be String, dictionary can be srtrings, lists, values etc'

In [20]:
## Dictionary Functions and Methods
'''Dictionary length'''
print len(my_dictionary)
print '==========\n'

3
==========

In [21]:
## Dictionary Functions and Methods
'''str(dict) => prints printable string representation of a dictionary'''
str(my_dictionary)

"{'Student_id': 87, 'First_name': 'Felipe', 'Last_name': 'McKlaren'}"

In [22]:
## Dictionary Functions and Methods
"""dict.copy()"""
# my_dictionary
my_dictionary_2 = my_dictionary.copy()
my_dictionary_2
print '==========\n'

''' dict.fromkeys()'''
seq_names= ('name', 'age', 'sex')

dict = dict.fromkeys(seq_names)
print "New Dictionary : %s" %  str(dict)

dict = dict.fromkeys(seq_names, 10)
print "New Dictionary : %s" %  str(dict)
print '==========\n'

''' dict.get(key, default=None)'''
print "Value : %s" %  my_dictionary.get('First_name')
print "Value : %s" %  my_dictionary.get('Education',  "does't exist")
print '==========\n'

''' dict.has_key(key)=> returns true'''
print "Value : %s" %  my_dictionary.has_key("Last_name")
print '==========\n'

'''dict.items() => list of tuple pairs.'''
print "Value : %s" %  my_dictionary.items()
print '==========\n'

'''dict.keys()'''
print "Value : %s" %  my_dictionary.keys()
print '==========\n'

'''dict.values()'''
print "Value : %s" %  my_dictionary.values()
print '==========\n'

''' dict.update(dict2) => adds dictionary dict2's key-values pairs in to dict'''
dict2 = {'Sex': 'male'}
my_dictionary.update(dict2)
print "Value : %s" %  my_dictionary
print '==========\n'

==========

New Dictionary : {'age': None, 'name': None, 'sex': None}
New Dictionary : {'age': 10, 'name': 10, 'sex': 10}
==========

Value : Felipe
Value : does't exist
==========

Value : True
==========

Value : [('Student_id', 87), ('First_name', 'Felipe'), ('Last_name', 'McKlaren')]
==========

Value : ['Student_id', 'First_name', 'Last_name']
==========

Value : [87, 'Felipe', 'McKlaren']
==========

Value : {'Student_id': 87, 'First_name': 'Felipe', 'Last_name': 'McKlaren', 'Sex': 'male'}
==========

In [23]:
x_dict = {
    "Stitch Fix" : ["Supply and Demand Logistics", "Rec Sys"],
    "Knewton" : ["Education Data Mining", "NNets"],
    "Uber_America": ["logistics", "self-driving car", "sentiment analysis"],
    "Uber_Ger": ["graphs"]
    }


uber_val = x_dict['Uber_America'] + x_dict['Uber_Ger']
sorted(x_dict)

['Knewton', 'Stitch Fix', 'Uber_America', 'Uber_Ger']

## Control Flow: if statements, functions, iterators

In [24]:
game_of_thrones = ['ned stark', 'john snow']

if 'joffery' in game_of_thrones:
    print 1 
else:
    game_of_thrones.append('joffery')

In [25]:
import random 

a = random.choice(range(100, 1000, 2))
b = random.choice(range(100, 1000, 3))
combined_str = str(a+b)[1:-1]

if a + b > 100 and int(combined_str) % 2: 
    print "a+b", a + b 

elif a + b <= 100 and not int(combined_str) % 2: 
    print "a", a 

else:
    print "b", b

b 637

In [26]:
one_to_nn = range(1, 100)
print type(one_to_nn)
print one_to_nn

## Using a list comprehension to add 1 to each element of the list and also print the element
""" This is the a list comprehension"""
{i : i+1 for i in one_to_nn}

<type 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

{1: 2,
 2: 3,
 3: 4,
 4: 5,
 5: 6,
 6: 7,
 7: 8,
 8: 9,
 9: 10,
 10: 11,
 11: 12,
 12: 13,
 13: 14,
 14: 15,
 15: 16,
 16: 17,
 17: 18,
 18: 19,
 19: 20,
 20: 21,
 21: 22,
 22: 23,
 23: 24,
 24: 25,
 25: 26,
 26: 27,
 27: 28,
 28: 29,
 29: 30,
 30: 31,
 31: 32,
 32: 33,
 33: 34,
 34: 35,
 35: 36,
 36: 37,
 37: 38,
 38: 39,
 39: 40,
 40: 41,
 41: 42,
 42: 43,
 43: 44,
 44: 45,
 45: 46,
 46: 47,
 47: 48,
 48: 49,
 49: 50,
 50: 51,
 51: 52,
 52: 53,
 53: 54,
 54: 55,
 55: 56,
 56: 57,
 57: 58,
 58: 59,
 59: 60,
 60: 61,
 61: 62,
 62: 63,
 63: 64,
 64: 65,
 65: 66,
 66: 67,
 67: 68,
 68: 69,
 69: 70,
 70: 71,
 71: 72,
 72: 73,
 73: 74,
 74: 75,
 75: 76,
 76: 77,
 77: 78,
 78: 79,
 79: 80,
 80: 81,
 81: 82,
 82: 83,
 83: 84,
 84: 85,
 85: 86,
 86: 87,
 87: 88,
 88: 89,
 89: 90,
 90: 91,
 91: 92,
 92: 93,
 93: 94,
 94: 95,
 95: 96,
 96: 97,
 97: 98,
 98: 99,
 99: 100}

## Functions

In [27]:
def even_odd(n):
    if n % 2:
        print "Odd"
    else: 
        print "Even"
        
def is_odd(n):
    return bool(n % 2)

is_odd(2)
even_odd(2)

Even

## Looping

In [28]:
import time 
shuttles = ['columbia', 'endeavour', 'challenger', 'discovery', 'atlantis', 'enterprise', 'pathfinder' ]

start = time.time()
for s in shuttles: 
    print s
    
print time.time() - start

columbia
endeavour
challenger
discovery
atlantis
enterprise
pathfinder
0.000494003295898

In [29]:
start = time.time()

counter = 0
while len(shuttles) > counter:
    print shuttles[counter]
    counter += 1
    
print time.time() - start

columbia
endeavour
challenger
discovery
atlantis
enterprise
pathfinder
0.000502109527588

In [30]:
eval_num = 10

while eval_num:
    print eval_num ** 5
    eval_num -= 1

100000
59049
32768
16807
7776
3125
1024
243
32
1